{% extends "biblioteca/base.html" %} {%block title%} Libros {%endblock%} {%block content%}
<div class="row">
    <div class="col-12">
        <h2>Libros disponibles</h2>
        {%for object in libros_disponibles%}
        <p>{{object.isbn}}</p>
        <p>{{object.titulo}}</p>
        <p>{{object.autor}}</p>
        {%if object.portada%}
        <img class="img-fluid" src="{{object.portada.url}}" alt="" />
        {%endif%}
        <a href="{% url 'detalle_libro' object.pk %}">Detalles</a>
        <br />
        {%endfor%}
    </div>

    <div class="col-12">
        <h2>Libros no disponibles</h2>
        {%for object in libros_prestados%}
        <p>{{object.isbn}}</p>
        <p>{{object.titulo}}</p>
        <p>{{object.autor}}</p>
        {%if object.portada%}
        <img class="img-fluid" src="{{object.portada.url}}" alt="" />
        {%endif%}
        <br />
        <a href="{% url 'detalle_libro' object.pk %}">Detalles</a>
        <br />
        {%endfor%}

    </div>
    <div class="row">
        <div class="col">
            <input type="button" value="Crear un libro" onclick="location.href='{%url 'crear_libro'%}'" />

            <br />
            <a href="{%url 'listar_prestamos'%}">Listar préstamos</a>
            <br />
            <a href="{%url 'listar_devueltos'%}">Listar devueltos</a>
        </div>
    </div>
</div>

{%endblock%}