<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Libros disponibles</h2>
    {%for object in libros_disponibles%}
    <p>{{object.isbn}}</p>
    <p>{{object.titulo}}</p>
    <p>{{object.autor}}</p>
    {%if object.portada%}
    <img src="{{object.portada.url}}" alt="">
    {%endif%}
    <a href="{% url 'detalle_libro' object.pk %}">Detalles</a>
    <br>
    {%endfor%}

    <h2>Libros no disponibles</h2>
    {%for object in libros_prestados%}
    <p>{{object.isbn}}</p>
    <p>{{object.titulo}}</p>
    <p>{{object.autor}}</p>
    {%if object.portada%}
    <img src="{{object.portada.url}}" alt="">
    {%endif%}
    <a href="{% url 'detalle_libro' object.pk %}">Detalles</a>
    <br>
    {%endfor%}

    <a href="{%url 'crear_libro'%}">Crear un libro</a>
    <br>
    <a href="{%url 'listar_prestamos'%}">Listar préstamos</a>
    <br>
    <a href="{%url 'listar_devueltos'%}">Listar devueltos</a>
    
</body>

</html>