{% extends "biblioteca/base.html" %} {%block title%} Libros {%endblock%} {%block content%}
<div class="row">
    <div class="col-12">
        <h2>Libros disponibles</h2>
        {%for object in libros_disponibles%}
        <h4 class="mt-5">Título: {{object.titulo}}</h4>
        <p>ISBN: {{object.isbn}}</p>        
        <p>Autor: {{object.autor}}</p>
        {%if object.portada%}
        <img class="img-fluid" src="{{object.portada.url}}" alt="" />
        {%endif%}
        <br />
        <a href="{% url 'detalle_libro' object.pk %}">Más detalles del libro</a>
        <br />
        {%endfor%}
    </div>

    <div class="col-12 mt-5">
        <h2>Libros no disponibles</h2>
        {%for object in libros_prestados%}
        <h4 class="mt-5">Título: {{object.titulo}}</h4>
        <p>ISBN: {{object.isbn}}</p>    
        <p>Autor: {{object.autor}}</p>
        {%if object.portada%}
        <img class="img-fluid" src="{{object.portada.url}}" alt="" />
        {%endif%}
        <br />
        <a href="{% url 'detalle_libro' object.pk %}">Más detalles del libro</a>
        <br />
        {%endfor%}

    </div>
    <div class="row mt-5">
        <div class="col">
            <input type="button" value="Crear un libro" onclick="location.href='{%url 'crear_libro'%}'" />

            <br />
            <a href="{%url 'listar_prestamos'%}">Listar préstamos</a>
            <br />
            <a href="{%url 'listar_devueltos'%}">Listar devueltos</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="{%url 'panel_bibliotecario'%}">Panel del bibliotecario</a>
    </div>
</div>
{%endblock%}