{% extends "biblioteca/base.html" %} {%block title%} Libros {%endblock%} {%block
content%}
<div class="row">
  <div class="col">
    <h2>Libros Devueltos:</h2>
    {%for prestamo in prestamos%}
    <p>Libro: {{prestamo.libro_prestado.titulo}}</p>
    <p>Fecha de prestamo: {{prestamo.fecha_prestamo}}</p>
    <p>Fecha de devolucion: {{prestamo.fecha_devolucion}}</p>
    <p>Usuario: {{prestamo.usuario}}</p>
    <p>Estado: {{prestamo.estado_prestamo}}</p>
    {%endfor%}
  </div>
</div>

{%endblock%}
